{% extends 'base.html' %}
{% block content %}
<h1>{{ 'Edit' if route else 'New' }} Route</h1>
<form method="post">
    Origin
    <select name="origin_id">
        {% for l in locations %}
            <option value="{{ l['id'] }}" {% if route and route.origin_id==l['id'] %}selected{% endif %}>{{ l['name'] }}</option>
        {% endfor %}
    </select><br>
    Destination
    <select name="destination_id">
        {% for l in locations %}
            <option value="{{ l['id'] }}" {% if route and route.destination_id==l['id'] %}selected{% endif %}>{{ l['name'] }}</option>
        {% endfor %}
    </select><br>
    Carrier
    <select name="carrier_id">
        {% for c in carriers %}
            <option value="{{ c['id'] }}" {% if route and route.carrier_id==c['id'] %}selected{% endif %}>{{ c['carrier_name'] }}</option>
        {% endfor %}
    </select><br>
    Base Cost <input type="number" step="0.01" name="base_cost" value="{{ route.base_cost if route else '' }}"><br>
    Lead Time <input type="number" step="0.01" name="lead_time" value="{{ route.lead_time if route else '' }}"><br>
    Transport Mode <input type="text" name="transport_mode" value="{{ route.transport_mode if route else '' }}"><br>
    Type <input type="text" name="type" value="{{ route.type if route else '' }}"><br>
    Supports Freezing <input type="checkbox" name="supports_freezing" value="1" {% if route and route.supports_freezing %}checked{% endif %}><br>
    Supports Dangerous Goods <input type="checkbox" name="supports_dangerous_goods" value="1" {% if route and route.supports_dangerous_goods %}checked{% endif %}><br>
    <button type="submit">Save</button>
</form>
{% endblock %}
