{% extends 'base.html' %}
{% block content %}
<h1>{{ 'Edit' if schedule else 'New' }} Schedule</h1>
<form method="post">
    Route
    <select name="route_id">
        {% for r in routes %}
            <option value="{{ r['id'] }}" {% if schedule and schedule.route_id==r['id'] %}selected{% endif %}>{{ r['origin_name'] }} - {{ r['destination_name'] }}</option>
        {% endfor %}
    </select><br>
    Departure Day <input type="text" name="departure_day" value="{{ schedule.departure_day if schedule else '' }}"><br>
    Cutoff Day Offset <input type="number" name="cutoff_day_offset" value="{{ schedule.cutoff_day_offset if schedule else '' }}"><br>
    Cutoff Hour <input type="number" name="cutoff_hour" value="{{ schedule.cutoff_hour if schedule else '' }}"><br>
    Frequency <input type="number" name="frequency" value="{{ schedule.frequency if schedule else '' }}"><br>
    Type <input type="text" name="type" value="{{ schedule.type if schedule else '' }}"><br>
    <button type="submit">Save</button>
</form>
{% endblock %}
